/** {
  list-style: none;
}*/

body {
  font-family: sans-serif;
  text-decoration: none;
}

#log-in-ul {
  display: inline;
  float:right;
}

#logo {
  width: 160px;
}

#topic-table {
  float: right;
  padding: 3px;
}

#picture-notes {
  margin: 120px 5px;
}

.say-yes-to-bullets {
  list-style-type: disc;
}
.go-right {
  text-align: right;
}

.sidelist li {
  margin: 0;
  padding: 0;
  display: inline;
}

.sidebar-wrapper {
  float: left;
  width: 160px;
  padding: 8px;
  display: inline;
}

.container {
  display: block;
  position: absolute;
  left: 165px;
}

.sidenav-ul {
  list-style: none;
}

.sidenav-ul li {
  padding-left: 0px;
  font-size: .85em;
}

.sidenav-list-head {
  text-decoration: underline;
  text-decoration-color: gray;
}
